# Entorno virtual
.venv/

# Variables de entorno
.env

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log

# Archivos temporales
*.sqlite3
*.db

# Configuración de VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db
